<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>All Favorite Movies</title>
</head>

<body class="container mt-4">
  <div class="header">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="mb-0">All Favorite Movies</h1>
    </div>
  </div>

  <div class="row" id="favoriteList">
    <% favorites.forEach((favorite) => { %>
    <div class="col-sm-6 col-md-4">
      <div class="card mb-4">
        <img src="<%= favorite.poster %>" alt="<%= favorite.title %> Poster" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><%= favorite.title %></h5>
          <p class="card-text"><strong>Year:</strong> <%= favorite.year %></p>
          <p class="card-text"><strong>Type:</strong> <%= favorite.type %></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/public/scripts/script.js"></script>
</body>

</html>
